<!DOCTYPE html>
<html lang="en">
<head>
	<!-- templates/ajax/test1.html -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jQuery 88 : jQuery Ajax 데이터 송수신 처리4 - get</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script> 
    <style>
    .container { clear:both; width:1000px; margin:20px auto; line-height:2.8; } 
    .container:after { content:""; display:block; clear:both; }
    .data { clear: both; }
    .data:after { content:""; display:block; clear:both; }
    .table th { border-top:2px solid #333; }
    .table td, .table th { border-bottom:2px solid #333; } 
    </style>
</head>
<body>
    <section class="container">
        <h2>jQuery Ajax 데이터 송수신 메소드 - ajax()</h2>
        <article class="data">
            <div><h2>AJAX Data Trans</h2></div>
            <form id="loginForm">
            	<fieldset>
            	<legend><h2>로그인</h2></legend>
                <input type="text" id="id" name="id" placeholder="아이디 입력" required><br>
                <input type="password" id="pw" name="pw" placeholder="비밀번호 입력" required><br><br>
            	</fieldset>
                <button type="button" id="btn1">로그인</button><br>
            </form>
            <div id="msg"></div>
            <ul id="result"></ul>
            <a href="/">메인으로</a>
        </article>
    </section>
    <br><hr><br>
    <script>
    $(document).ready(function(){
        $("#btn1").click(function(){
            var userId = $("#id").val();
            var userPw = $("#pw").val();
            $("#result").empty();
            if(userId=="" || userPw==""){
                alert("아이디 또는 비밀번호 입력이 되지 않았습니다.");
                return false;
            }
            var user = {id:userId, pw:userPw};
            $.ajax({
				url:"/ajax/getLogin.do?id="+userId+"&pw="+userPw,
                //url:"/ajax/getLogin.do",     //요청 데이터를 받아 처리하는 서버측 컨트롤러 또는 페이지 주소
                //data:user,      //post 방식으로 서버로 전송할 데이터 - string 또는 object
                contentType:'application/json;charset=utf-8',
                method:"GET",   //전송 방식 : post, get, put
                dataType:"json" //반환받을 데이터 타입 - json, xml, script, html
            }) 
            .done(function(res){ //요청 처리에 대한 성공시 처리할 문장
                console.log(res);
                $("#msg").text("로그인 성공");
                $.each(res, function(key, value){
					if(key==="name"){
						$("#result").append("<li>"+value+"님이 로그인 하셨습니다.</li>");
					}
				});
				$("#loginForm").fadeOut(100);
            })
            .fail(function(xhr, status, errorThrown){  //요청 처리에 대한 실패시 처리할 문장
                $("#msg").text("로그인 실패");
            });
        });
    });
    </script>
</body>
</html>