<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>법령정보</title>
	
</head>
<body>
<div class="fluid-container">
	
	<div class="container">
	<h2>법령정보</h2>

                <table class="table">
                  <thead>
                    <tr>
                      <th><abbr title="Num">번호</abbr></th>
                      <th><abbr title="Title">제목</abbr></th>
                      <th><abbr title="Comment">등록자</abbr></th>
                      <th><abbr title="Resdate">등록일</abbr></th>
                      <th><abbr title="Visited">조회수</abbr></th>
                      
                    </tr>
                  </thead>
                   <tbody>
                   
                    <tr>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;</td>

                      <td>
                          <a href="/pro04/GetEsgDetailCtrl.html?no=1">2022년 유치원 현황(2022.04.1. 기준, 교육통계자료)
                      </td>
                      <td>
                      최미희
                      </td>
                      <td>
                      2022-10-28
                      </td>
                      <td>
                      
                      </td>

                    </tr>
                    
                    <tr>
                      <td>2</td>

                      <td>
                          <a href="/pro04/GetEsgDetailCtrl.html?no=1">2022학년도 유아학비 지원계획 안내
                     </a>
                      </td>
                      <td>
                      이강원
                      </td>
                      <td>
                      2022-01-26
                      </td>
                      <td>
                      
                      </td>

                    </tr>
                    
                    <tr>
                      <td>3</td>

                      <td>
                          <a href="/pro04/GetEsgDetailCtrl.html?no=1">2021년 유치원 현황(2022.04.1. 기준, 교육통계자료)</a>
                      </td>
                      <td>
                      심정산
                      </td>
                      <td>
                      2021-10-15
                      </td>
                      <td>
                      
                      </td>
                    </tr>
                    
                    <tr>
                      <td>4</td>

                      <td>
                          <a href="/pro04/GetEsgDetailCtrl.html?no=1">2022학년도 유치원 원비 인상률 산정방법 고시</a>
                      </td>
                      <td>
                      정지은
                      </td>
                      <td>
                      2021-10-05
                      </td>
                      <td>
                      
                      </td>
                      
                    </tr>
                    
                    
                 
              </tbody>
            </table>
            
            <div class="buttons">
              <a href="/pro04/about/addEsgnews.html" class="button is-danger is-small is-outlined is-rounded">등록</a>
            </div>
            
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous">이전</a>
  <a class="pagination-next">다음</a>
  <ul class="pagination-list">
    <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
  </ul>
</nav>

  	</div>
</div>
</body>
</html>